<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.beauty.camera_plugin">
  
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="28" />

  <uses-feature android:name="android.hardware.camera" android:required="true" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

  <application>
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
  </application>
</manifest>
